#ripley-mini-site {
    .wl-bannerHome {
        background-repeat: no-repeat;
        background-size: cover !important;
        background: url(../images/wl-bannerHome.jpg);
        background-position: center;
        min-height: 678px;
        position: relative;
        @media (max-width: $mobile) {
            background-position: center;
            background-size: cover;
            min-height: 678px;
        }
        .wl-textoBanner {
            color: $color-secundario;
            @media (max-width: $mobile) {
                position: absolute;
                bottom: 60px;
                width: 320px;
            }
            h2 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 800;
                line-height: 2.3em;
                margin-top: 140px;
                text-align: left;
                @media (max-width: $mobile) {
                    line-height: 1.9em;
                }
                .firstWord {
                    font-size: 90px;
                    @media (max-width: $mobile) {
                        font-size: 60px;
                    }
                }
                .secondWord {
                    font-size: 119px;
                    @media (max-width: $mobile) {
                        font-size: 80px;
                    }
                }
                .thirdWord {
                    font-size: 124px;
                    @media (max-width: $mobile) {
                        font-size: 80px;
                    }
                }
            }
            p {
                font-size: $p;
                margin-bottom: 15px;
                max-width: 430px;
            }
        }
    }
    .wl-banner {
        #slider1 {
            background: #D8D8D8;
            z-index: 0;
            .container {
                min-height: 676px;
                @media (max-width: $mobile) {
                    min-height: unset;
                }
            }
            .wl-textoBanner {
                color: $color-principal;
                text-align: left;
                z-index: 1;
                padding-bottom: 15px;
                @media (max-width: $mobile) {
                    text-align: center;
                }
                h2 {
                    padding-top: 70px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 800;
                    line-height: 2.3em;
                    @media (max-width: $mobile) {
                        color: $color-secundario;
                        padding-top: 120px;
                        padding-bottom: 17px;
                    }
                    .firstWord {
                        font-size: 90px;
                        @media (max-width: $mobile) {
                            font-size: 72px;
                        }
                    }
                    .secondWord {
                        font-size: 119px;
                        @media (max-width: $mobile) {
                            font-size: 72px;
                        }
                    }
                    .thirdWord {
                        font-size: 124px;
                        @media (max-width: $mobile) {
                            font-size: 72px;
                        }
                    }
                }
                p {
                    margin: 15px 0;
                    span {
                        font-weight: bold;
                    }
                    @media (max-width: $mobile) {
                        display: none;
                    }
                }
                a {
                    margin-bottom: 30px;
                }
            }
            .imgSlider1 {
                position: absolute;
                top: 0px;
                right: 0px;
                z-index: -1;
            }
        }
    }
    .wl-bannerHome {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        background: #D3E0F1;
        color: $color-principal; //min-height: 678px;
        position: relative;
        text-align: center;
        @media (max-width: $mobile) {
            background-position: center;
            background-size: cover; //min-height: 678px;
        }
        h2 {
            font-size: 60px;
            font-weight: 800;
            padding-top: 30px;
            @media (max-width: $mobile) {
                font-size: 30px;
            }
        }
        p {
            font-size: $p;
            margin-bottom: 15px;
            @media (max-width: $mobile) {
                font-size: $pMobil;
            }
        }
        .bottoms {
            position: absolute;
            bottom: 163px;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-content: center;
            z-index: 1;
            @media (max-width: $mobile) {
                position: relative;
                bottom: 0;
                flex-flow: column;
                align-items: center;
            }
            a {
                flex: 0 1 auto;
                align-self: auto;
                min-width: 250px;
                max-width: 250px;
                min-height: auto;
                margin-bottom: 10px;
            }
        }
        img {
            position: relative;
            top: 4px;
        }
    }
    .wl-bannerDemin {
        display: flex;
            max-height: 508px;
            @media  (max-width: $maxdesktop) and (min-width: $desktop) {
                max-height: 430px;
            }

            @media (max-width: $tablet) {
                max-height: 326px;
            }

            @media (max-width: $mobile) {
                max-height: 508px;;
            }



        .wl-containerLeft {
            flex: 1 1 50%;
            position: relative;
            @media (max-width: $mobile) {
                min-height: 500px;
            }
            .wl-text {
                color: $color-secundario;
                display: flex;
                flex-direction: column;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                align-items: center;
                text-align: center;
                .wl-icon {
                    align-items: center;
                    display: flex;
                    margin: auto;
                    width: 100%;
                    hr {
                        border: solid $color-secundario 0.5px;
                        flex: 1 1 auto;
                        max-width: 98px;
                        @media (max-width: $tablet) {
                            max-width: 70px;
                        }
                        @media (max-width: $mobile) {
                            max-width: 98px;
                        }
                    }
                        
                    }
                    object {
                        
                        width: 91px;
                        margin: 0 -30px;
                        @media  (max-width: $maxdesktop) and (min-width: $desktop) {
                            margin: 0 0;
                        }
                        
                        @media (max-width: $tablet){
                            margin: 0 0;
                            width: 70px;
                    }
                        @media (max-width: $mobile) {
                            width: 91px;
                            margin: 0 15px;
                        
                     }
                }
                h2 {
                    font-size: 124px;
                    font-weight: 800;
                    line-height: 124px;

                    @media  (max-width: $maxdesktop) and (min-width: $desktop) {
                        font-size: 100px;
                    }
                    @media (max-width: $tablet) {
                        font-size: 75px;
                        line-height: 60px;
                        margin-bottom: 10px;
                    }
                    @media (max-width: $tablet){
                        font-size: 80px;
                        line-height: 90px;
                    }
                }
                p {
                    padding-left: 5px;
                }
            }
            img{
                @media (max-width: $mobile){
                    height: 508px;
                }
            }
        }
        .wl-containerRight {
            flex: 1 1 50%;
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }
    .wl-category {
        color: $color-principal;
        padding: 40px 0;
        h2 {
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }
        p {
            text-align: center;
            font-size: $pNormal;
            margin-bottom: 40px;
        }
    }
    .wl-product {
        text-decoration: none;
        display: block;
        text-align: center;
        padding-bottom: 10px;
        border: 1px solid transparent;
        &:hover {
            border-color: #DDD;
        }
        .wl-product__text {
            margin-top: 10px;
        }
        h3 {
            color: #5F5C5C;
            text-transform: uppercase;
            font-size: 14px;
            min-height: 55px;
            line-height: 110%;
            &:hover h3 {
                color: #04082C;
            }
        }
        p {
            font-size: 12px;
        }
        .wl-internet {
            color: #EB6765;
        }
        .wl-normal {
            color: #5F5C5C;
        }
        img {
            display: inline-block;
            position: relative;
            transition: .3s ease-in-out;
            &:hover img {
                opacity: .8;
            }
        }
    }
    .wl-denim {
        margin-bottom: 40px;
        .wl-deminContent {
            color: $color-principal;
            @media (max-width: $tablet) {
                text-align: center;
            }
            h2 {
                font-size: 99px;
                font-weight: 800;
            }
            p.paragraph {
                color: $color-fuente;
                font-size: $pMobil;
                margin-bottom: 30px;
                @media (max-width: $mobile) {
                    text-align: initial;
                }
            }
            h6 {
                margin-bottom: 40px;
                @media (max-width: $mobile) {
                    text-align: center;
                }
            }
            .wl-iconos {
                height: 130px;
                display: flex;
                @media (max-width: $tablet) {
                    justify-content: center;
                }
                .wl-iconos__container {
                    object {
                        max-height: 60px;
                    }
                    &:nth-child(1) {
                        object {
                            padding-right: 30px;
                            border-right: 1px solid #cccccc;
                        }
                    }
                    &:nth-child(2) {
                        object {
                            padding-right: 30px;
                            padding-left: 30px;
                            border-right: 1px solid #cccccc;
                        }
                        p {
                            text-align: center !important;
                        }
                    }
                    &:nth-child(3) {
                        object {
                            padding-left: 30px;
                            text-align: center;
                        }
                        p {
                            padding-left: 17px;
                        }
                    }
                }
            }
        }
    }
    .wl-deminBackground {
        @media (max-width: $tablet) {
            margin-top: 40px;
        }
        .swiper-slide {
            img {
                width: 100%;
            }
            p {
                position: absolute;
                color: white;
                left: 50%;
                top: 50%;
            }
        }
    }
    .wl-tabsImages{
        display: flex;
        .wl-tabsContainers{
            flex: 1 1 33%;
            position: relative;
            .text{
                color: $color-secundario;
                display: flex;
                flex-direction: column;
                left: 50%;
                position: absolute;
                top: 80%;
                transform: translate(-50%, -50%);
                align-items: center;
                text-align: center;

                @media  (max-width: $mobile) {
                    top: 60%;
                }
                h2{
                    font-size: 45px;
                    color: $color-secundario;
                    font-weight: 800;
                    @media  (max-width: $maxdesktop) and (min-width: $desktop) {
                        font-size: 35px;
                    }
                    @media  (max-width: $tablet) {
                        font-size: 25px;
                    }
                    @media  (max-width: $mobile) {
                        font-size: 15px;
                    }


                }
                a{
                    min-width: 150px;
                    @media (max-width: $tablet){
                        min-width: 75px;
                        padding: 8px 0px;
                        font-size: 12px;
                    }              

                    @media (max-width: $mobile){
                        display: none;
                    }
                }
            }
        }
    }
    .wl-destacados {
        h2 {
            text-align: center;
            color: $color-principal;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 40px;
        }
        p.subTitulo {
            color: $color-principal;
            font-size: $pNormal;
            text-align: center;
            margin-bottom: 40px;
        }
        .tabs {
            ul {
                @media (max-width: $mobile) {
                    display: flex;
                    flex-direction: column;
                }
                li {
                    @media (max-width: $mobile) {
                        max-width: 250px;
                        justify-content: center;
                        margin: auto;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .wl-social {
        .iconosSocial {
            display: flex;
            justify-content: center;
            div:nth-child(2) {
                margin: 0 15px;
            }
        }
    }
    .wl-logo {
        align-items: center;
        display: flex;
        margin: auto;
        max-width: 750px;
        hr {
            border: solid #ccc 1px;
            flex: 1 1 auto;
            height: 0px;
        }
        img {
            margin: 15px 20px;
        }
    }
}