// COLORES
$color-principal    :   black;
$color-secundario   :   white;
$color-fuente       :   #3C3C3C;
$color-base         :   #DADADA;
// FUENTES
$font-base: "Montserrat",
Helvetica,
Arial,
sans-serif;
$font-size: 13px;
$line-height: 22px;
$font-especial: 'especial';
$h1: 28px;
$h2: 26px;
$h3: 33px;
$h4: 18px;
$h5: 15px;
$h6: 14px;
$p : 16px;
$pMobil : 13px;
$pNormal: 16px;
$fulldesktop: 1100px;
$desktop: 992px;
$tablet : $desktop - 1;
$mobile : 767px;
$small : 500px;
$ancho-container: 1180px;
//INCLUDES
@mixin flexCenter {
    display: flex;
    justify-content: center;
}

@mixin flex-item50 {
    flex: 0 1 50%;
    align-self: auto;
    min-width: auto;
    min-height: auto;
}