@font-face {
	font-family: 'especial';
	src: url('../fonts/OptimaLTStd.eot');
	src: url('../fonts/OptimaLTStd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OptimaLTStd.woff2') format('woff2'),
		url('../fonts/OptimaLTStd.woff') format('woff'),
		url('../fonts/OptimaLTStd.ttf') format('truetype'),
		url('../fonts/OptimaLTStd.svg#OptimaLTStd') format('svg');
	font-weight: normal;
	font-style: normal;
}
