{% extends "layouts/default.njk" %} {% block content %} {% import 'macros/navbar.njk' as nav %} {{nav.active('index')}}

<section class="wl-bannerMujer">
  <div class="container wl-textoBanner">
    <h2>
      <span class="firstWord">RETRO</span>
      <br/>
      <span class="secondWord">GLORY</span>
      <br/>
      <span class="thirdWord">TANK</span>
    </h2>
    <p>Musculosa con estampa delantera<br/>
      Tela: Jersey Con Elastano.<br/>
      <span>Composición:</span><br/> 
      96% Algodon <br/>
      4% Elastano.</p>

    <a class="wl-btn" href="#" title="Conoce más">
      <span>CONOCE MÁS</span>
    </a>
  </div>
</section>



</section>

{% endblock %}