{% extends "layouts/default.njk" %} {% block content %} {% import 'macros/navbar.njk' as nav %} {{nav.active('index')}}

<section class="wl-bannerHome">
  <div class="container wl-textoBanner">
    <h2>
      <span class="firstWord">SEVENTY</span>
      <br/>
      <span class="secondWord">YOUNG</span>
      <br/>
      <span class="thirdWord">YEARS</span>
    </h2>
    <p>Únete a nosotros en esta celebración Wrangler llegó a 70 años, mejor que nunca.</p>
    <a class="wl-btn" href="#" title="Conoce más">
      <span>CONOCE MÁS</span>
    </a>
  </div>
</section>

<section class="wl-bannerHm">
  <h2>¿QUÉ DESEAS VER?</h2>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
  <div class="bottoms">
    <a class="wl-btn" href="#" title="Conoce más">
      <span>HOMBRE</span>
    </a>
    <a class="wl-btn" href="#" title="Conoce más">
      <span>MUJER</span>
    </a>

  </div>

</section>

<section class="wl-denim container">
  <div class="row">
    <div class="col-lg-5">
      <div class="wl-deminContent">
        <h2>DENIM</h2>
        <p class="paragraph">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
          eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. enim ipsam voluptatem
          quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolos eos qui ratione voluptatem sequi.</p>
        <h6>Conoce nuestras líneas de</h6>
        <div class="wl-iconos">
          <div class="wl-iconos__container">
            <object type="image/svg+xml" data="../images/svg/icono.svg">
              Tu navegador no soporta imagenes svg
            </object>
            <p>ICONOS</p>
          </div>
          <div class="wl-iconos__container">
            <object type="image/svg+xml" data="../images/svg/jeans.svg">
              Tu navegador no soporta imagenes svg
            </object>
            <p>JEANS</p>
          </div>
          <div class="wl-iconos__container">
            <object type="image/svg+xml" data="../images/svg/chaquetas.svg">
              Tu navegador no soporta imagenes svg
            </object>
            <p>CHAQUETAS</p>
          </div>

        </div>
        <a class="wl-btn" href="#" title="Conoce más">
          <span>VER MAS</span>
        </a>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="wl-deminBackground">
        <!-- Swiper -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../images/wl-deminSlider_img1.jpg">
              <p>Slider 1</p>
            </div>
            <div class="swiper-slide">
              <img src="../images/wl-deminSlider_img1.jpg">
              <p>Slider 2</p>
            </div>
            <div class="swiper-slide">
              <img src="../images/wl-deminSlider_img1.jpg">
              <p>Slider 3</p>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="wl-destacados">
  <h2>Destacados</h2>
  <p class="subTitulo">LOREM IPSUM DOLOR SIT AMET</p>

  <div id="tabs" class="tabs">
    <nav>
      <ul>
        <li>
          <a href="hombre">
            <span>Hombre</span>
          </a>
        </li>
        <li>
          <a href="mujer">
            <span>Mujer</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="content">
      <section id="hombre">
        <div class="wl-product-thumb col-sm-3 col-xs-6" data-product="2000341309044">
          <a href="#;" title="" class="wl-product" target="_blank">
            <div class="wl-product__image">
              <img class="wl-product__img" src="" alt="">
            </div>
            <div class="wl-product__text">
              <h3 class="wl-product__name">LABIAL PURE COLOR LIFE</h3>
              <p class="wl-normal">Precio Normal: $26.990</p>
              <p class="wl-internet">Internet: $16.990</p>
            </div>
          </a>
        </div>
        <div class="wl-product-thumb col-sm-3 col-xs-6" data-product="2000341309044">
          <a href="#;" title="" class="wl-product" target="_blank">
            <div class="wl-product__image">
              <img class="wl-product__img" src="" alt="">
            </div>
            <div class="wl-product__text">
              <h3 class="wl-product__name">LABIAL PURE COLOR LIFE</h3>
              <p class="wl-normal">Precio Normal: $26.990</p>
              <p class="wl-internet">Internet: $16.990</p>
            </div>
          </a>
        </div>
        <div class="wl-product-thumb col-sm-3 col-xs-6" data-product="2000341309044">
          <a href="#;" title="" class="wl-product" target="_blank">
            <div class="wl-product__image">
              <img class="wl-product__img" src="" alt="">
            </div>
            <div class="wl-product__text">
              <h3 class="wl-product__name">LABIAL PURE COLOR LIFE</h3>
              <p class="wl-normal">Precio Normal: $26.990</p>
              <p class="wl-internet">Internet: $16.990</p>
            </div>
          </a>
        </div>
        <div class="wl-product-thumb col-sm-3 col-xs-6" data-product="2000341309044">
          <a href="#;" title="" class="wl-product" target="_blank">
            <div class="wl-product__image">
              <img class="wl-product__img" src="" alt="">
            </div>
            <div class="wl-product__text">
              <h3 class="wl-product__name">LABIAL PURE COLOR LIFE</h3>
              <p class="wl-normal">Precio Normal: $26.990</p>
              <p class="wl-internet">Internet: $16.990</p>
            </div>
          </a>
        </div>
      </section>
      <section id="mujer">
        <div class="wl-product-thumb col-sm-3 col-xs-6" data-product="2000341309044">
          <a href="#;" title="" class="wl-product" target="_blank">
            <div class="wl-product__image">
              <img class="wl-product__img" src="" alt="">
            </div>
            <div class="wl-product__text">
              <h3 class="wl-product__name">LABIAL PURE COLOR LIFE</h3>
              <p class="wl-normal">Precio Normal: $26.990</p>
              <p class="wl-internet">Internet: $16.990</p>
            </div>
          </a>
        </div>
        <div class="wl-product-thumb col-sm-3 col-xs-6" data-product="2000341309044">
          <a href="#;" title="" class="wl-product" target="_blank">
            <div class="wl-product__image">
              <img class="wl-product__img" src="" alt="">
            </div>
            <div class="wl-product__text">
              <h3 class="wl-product__name">LABIAL PURE COLOR LIFE</h3>
              <p class="wl-normal">Precio Normal: $26.990</p>
              <p class="wl-internet">Internet: $16.990</p>
            </div>
          </a>
        </div>
      </section>
    </div>
    <!-- /content -->
  </div>
  <!-- /tabs -->


</section>

{% endblock %}