{% extends "layouts/default.njk" %} {% block content %} {% import 'macros/navbar.njk' as nav %} {{nav.active('index')}}

<section class="wl-bannerHome ">
  <div class="container wl-textoBanner">
    <h1>
      <span class="firstWord">SEVENTY</span>
      <br/>
      <span class="secondWord">YOUNG</span>
      <br/>
      <span class="thirdWord">YEARS</span>      
    </h1>
    <p>Únete a nosotros en esta celebración Wrangler llegó a 70 años, mejor que nunca.</p>
    <a class="wl-btn" href="#" title="Conoce más">
      <span>CONOCE MÁS</span>
    </a>
  </div>
</section>

<section class="wl-bannerHm">
  <div class="container wl-textoBanner">
    <h1>¿QUÉ DESEAS VER?</h1>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    <div class="row">
      <div class="col-md-6">
    <a class="wl-btn" href="#" title="Conoce más">
      <span>HOMBRE</span>
    </a>
  </div>  
  <div class="col-md-6">
    <a class="wl-btn" href="#" title="Conoce más">
      <span>MUJER</span>
    </a>
  </div>
  </div>
  </div>
</section>


<br/>
<br/>
<br/>
<br/> {% endblock %}