{% extends "layouts/default.njk" %} {% block content %} {% import 'macros/navbar.njk' as nav %} {{nav.active('index')}}

<section class="wl-bannerHome ">
  <div class="container">
    <h1 class="">
      <span class="firstWord">SEVENTY</span>
      <br/>
      <span class="secondWord">YOUNG</span>
      <br/>
      <span class="thirdWord">YEARS</span>      
    </h1>
    <p>Únete a nosotros en esta celebración Wrangler llegó a 70 años, mejor que nunca.</p>
    <a class="wl-btn" href="#" title="Conoce más">
      <span>CONOCE MÁS</span>
    </a>
  </div>
</section>


<br/>
<br/>
<br/>
<br/> {% endblock %}