{% extends "layouts/default.njk" %}
{% block content %} {% import 'macros/product-thumb.njk' as field %} 
{% import 'macros/navbar.njk'as nav %}
{{nav.active('index')}}

<section class="wl-banner">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div id="slider1" class="swiper-slide">
        <div class="container">
          <div class="wl-textoBanner">
            <h2>
              <span class="firstWord">SEVENTY</span>
              <br/>
              <span class="secondWord">YOUNG</span>
              <br/>
              <span class="thirdWord">YEARS</span>
            </h2>
            <p>Musculosa con estampa delantera
              <br/> Tela: Jersey Con Elastano.
              <br/>
              <span>Composición:</span>
              <br/> 96% Algodon
              <br/> 4% Elastano.</p>
            <a class="wl-btn" href="#" title="Conoce más">
              <span>CONOCE MÁS</span>
            </a>
          </div>
          <img class="imgSlider1" src="../images/wl-jeansBanner-mujer.png">
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>

<section class="wl-category">
  <h2>Mujer</h2>
  <p>LOREM IPSUM DOLOR SIT AMET</p>
  <div class="row">
    {{ field.field('2000341309044') }}
    {{ field.field('2000341309044') }}
    {{ field.field('2000341309044') }}
    {{ field.field('2000341309044') }}
  </div>
</section>

<section class="wl-social">
  <div class="iconosSocial">
    <div class="wl-iconos__container">
      <a href="#">
        <img src="../images/svg/icon-fb.svg">
        </img>
      </a>

    </div>
    <div class="wl-iconos__container">
      <a href="#">
        <img src="../images/svg/icon-insta.svg">
        </img>
      </a>

    </div>
    <div class="wl-iconos__container">
      <a href="#">
        <img src="../images/svg/icon-you.svg">
        </img>
      </a>
    </div>
  </div>
  <div class="wl-logo">
    <hr>
    <img src="../images/wrangler-logo.png" alt="wrangler">
    <hr>
  </div>
</section>
  {% endblock %}