<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="Ripley.cl - Moda, zapatillas, tecnología y productos para el hogar"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Ripley - Estee Lauder</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <mini-site-styles>
      <!-- build:css styles/main.css -->
      <link rel="stylesheet" href="styles/main.css">
      <link rel="stylesheet" href="https://home.ripley.cl/front/public/css/app-44388974b8.css">
      <!-- endbuild -->
    </mini-site-styles>
  </head>
  <body>
    <mini-site>
      <div id="ripley-mini-site">

        {% block content %}{% endblock %}
      </div>
    </div>
  </mini-site>

  <mini-site-scripts>
    <!-- build:js scripts/vendor.js -->
    <script src="/scripts/libs/jquery.js"></script>
    <script src="/scripts/libs/slick.min.js"></script>
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->
    <!-- Google Tag Manager -->
    {# <script async>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer'
            ? '&l=' + l
            : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-WNDQVFC');
    </script> #}
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager (noscript) -->
    <!-- Google Tag Manager (noscript) -->
    {# <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WNDQVFC" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript> #}
    <!-- End Google Tag Manager (noscript) -->
    <!-- End Google Tag Manager (noscript) -->
    <!-- Facebook -->
    <script async>
      window.fbAsyncInit = function () {
        FB.init({
          appId: "191458337887318",
          cookie: !0,
          xfbml: !0,
          version: "v2.5"
        })
      },
      function (e, n, t) {
        var o,
          c = e.getElementsByTagName(n)[0];
        e.getElementById(t) || (o = e.createElement(n), o.id = t, o.src = "//connect.facebook.net/es_LA/all.js", c.parentNode.insertBefore(o, c))
      }(document, "script", "facebook-jssdk");
    </script>
    <!-- End Facebook -->
  </mini-site-scripts>
</body>
</html>
