{% macro active(activePage = 'index') %}

<div class="wl-header">
  <div class="container">
    <a class="wl-home" href="index.html" title="Ir al Home">
      <img class="wl-logo" src="images/wrangler.png" alt="WRANGLER">
    </a>
    <ul class="wl-nav">
      <li class="wl-menu">
        <a href="hombre.html" class="{%if activePage == 'hombre' %} active {% endif %}">Hombre</a>
        <!--<ul>
          <li>
            <a href="hombre.html" class="{%if activePage == 'hombre' %} active {% endif %}">hombre</a>
          </li>
          <li>
            <a href="secundaria.html" class="{%if activePage == 'secundaria' %} active {% endif %}">Pagina Secundaria</a>
          </li>
        </ul
        data-func="deploySubmenuMobile"
        >-->
      </li>
      <li class="wl-menu">
        <a href="mujer.html" class="{%if activePage == 'mujer' %} active {% endif %}" >Mujer</a>
     
      </li>
      <li class="wl-menu">
        <a href="demin.html" class="{%if activePage == 'demin' %} active {% endif %}">Demin</a>
      </li>
    </ul>

    {#
    <ul class="wl-social">
      <li>
        <a data-func="shareFacebook" href="" class="wl-facebook"></a>
      </li>
      <li>
        <a data-func="shareTwitter" href="https://simple.ripley.cl/" class="wl-twitter"></a>
      </li>
    </ul> #}

    <button class="wl-offcanvas" data-func="deployMenuMobile">
      <span></span>
    </button>
  </div>
</div>

{% endmacro %}
