 {% macro field(product) %}
          <div class="wl-product-thumb col-sm-3 col-xs-6" data-product="{{product}}">
            <a href="#;" title="" class="wl-product" target="_blank">
              <div class="wl-product__image">
                <img class="wl-product__img" src="" alt="">
              </div>
              <div class="wl-product__text">
                <h3 class="wl-product__name">LABIAL PURE COLOR LIFE</h3>
                <p class="wl-normal">Precio Normal: $26.990</p>
                <p class="wl-internet">Internet: $16.990</p>
              </div>
            </a>
          </div>

{% endmacro %}